@{
    Layout = "_LayoutDashboard";
}

<!-- Começando conteudo !-->
<div class="content-wrapper">

    <div class="container-fluid">

        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">Home</a>
            </li>
            <li class="breadcrumb-item">
                <span>Alterar Senha</span>
            </li>
        </ol>

        <div class="row ">
            <div class="col-md-12">
                <h2 class="text-center mt-md-3 mb-md-3">
                    Alterar Senha
                </h2>

                <form class="container" method="post">
                    <div class="row">

                        <div class="col-md-12">

                            <div class="form-group">

                                <label class="text-primary text-uppercase">Senha</label>
                                <input required type="password" class="form-control mb-2" id="imei" aria-describedby="" placeholder="Digite sua nova Senha">

                                <label class="text-primary text-uppercase">Confirmar Senha</label>
                                <input required type="password" class="form-control mb-2" id="imei" aria-describedby="" placeholder="Confirmar Senha">

                                <button type="submit" class="btn btn-success form-control mt-2">Salvar</button>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
    <!-- terminando conteudo !-->

