@{
    Layout = "_LayoutDashboard";
}

<!-- Começando conteudo !-->
<div class="content-wrapper">

    <div class="container-fluid">

        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">Home</a>
            </li>
            <li class="breadcrumb-item">
                <span>Alterar Senha</span>
            </li>
        </ol>

        <div class="row ">
            <div class="col-md-12">
                <h2 class="text-center mt-md-3 mb-md-3">
                    Alterar Senha
                </h2>
            </div>
        </div>
    </div>
    <!-- terminando conteudo !-->

